@font-face {
    font-family: google;
    src: url(../assets/font/google-sans/ProductSans-Regular.ttf);
}

@font-face {
    font-family: googleItalic;
    src: url(../assets/font/google-sans/ProductSans-Italic.ttf);
}
@font-face {
    font-family: futura;
    src: url(../assets/font/futura/Futura\XBlk\BT.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: google;
    font-family: "Lato", sans-serif;
    user-select: none;
}

body,
html {
    height: 100%;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    // background-color: red;
    height: 10vh;
    align-items: center;
    margin: 0px 10vh;

    .logo {
        h1 {
            font-family: googleItalic;
            font-size: 2rem;
            font-weight: 400;
            text-decoration: underline;
        }
    }

    ul {
        display: flex;
        gap: 40px;

        li {
            list-style: none;

            a {
                font-size: 1rem;
                // font-weight: 200;
                text-decoration: none;
                color: black;
            }
        }
    }

    .register {
        .login {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 1rem;
            margin-right: 10px;
        }

        .signup {
            background-color: #FA9B24;
            border: none;
            padding: 10px;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            width: 100px;
            border-radius: 10px;
        }
    }
}

main {
    .voiceAss {
        z-index: 1;
        position: absolute;
        bottom: 2%;
        right: 2%;
        background-color: #FA9B24;
        padding: 10px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        i {
            color: white;
            font-size: 2vw;
        }
    }

    // background-color: red;
    height: 100%;
    display: flex;

    .left {
        // background-color: red;
        height: 100%;
        display: flex;
        justify-content: center;
        // align-items: center;
        flex-direction: column;
        padding-left: 10vh;
        gap: 5px;

        h1 {
            font-size: 5vw;
            font-style: normal;
            font-weight: 900;
            letter-spacing: .3rem;
        }

        h2 {
            width: 50%;
            font-family: googleItalic;
            font-weight: 500;
            font-size: 2vw;
        }

        p {
            font-weight: 400;
            font-size: 1.5vw;
        }

        .btn {
            background-color: #FA9B24;
            border: none;
            padding: 10px;
            color: white;
            font-size: 1rem;
            font-weight: 700;
            cursor: pointer;
            width: 150px;
            border-radius: 10px;
        }
    }

    .left,
    .right {
        width: 50%;
        height: 90vh;
    }

    .right {
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            right: 5%;
            height: 100%;
            // width: 100%;
            object-fit: contain;
            filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
        }
    }
}



@media (max-width:1080px) {
    main{
        .right{
            display: none;
        }
        .left{
            width: 100%;
            background-image: url("../assets/Media/bg homepage.png");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            padding-left: 1vh;
            // padding-bottom: 10vh;
            h1{
                font-family: futura;
                color: white;
                font-size: 4rem;
                font-weight: 900;
                -webkit-text-stroke: 2px black;
            }
            h2{
                font-family: futura;
                font-weight: 900;
                width: 100%;
                color: white;
                -webkit-text-stroke: 2px black;
                font-size: 2rem;
            }
            p{
                font-size: 1rem;
            }
        }
        .voiceAss{
            i{
                font-size: 1.8rem;
            }
        }
    }
    .navbar{
        margin: 0 1vh;
        ul{
            display: none;
        }
    }
    
}
